body{
    background-image: url("coffeeimage.jpg");
    background-size:100% 50vh;
    margin: 0;
    background-repeat: no-repeat;
    background-color: rgb(1, 0, 0);
    position: relative;
}
.header{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 60px;
    background-color:rgb(7, 0, 0);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    border-radius: 30px;
}
.header a{
    color: white;
    text-decoration: none;
}
.header img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
h1{
    display: flex;
    text-align: center;
}
#reservation-heading{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:50px;
    font-weight: 900;
    margin-top: 180px;
    color: orangered;
}
.Top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: #fff;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;

}
.input{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    gap: 5px;
    transition: .5 ease-in-out;
}
.bottom{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 5px;
    flex-direction: column;
    margin-top: 30px;
}
.input div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.input div input{
    height: 30px;
    width: 95%;
    background-color: black;
    color: #fff;
    transition: all .5s ease-in-out;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}
.bottom textarea{
    height: 80px;
    background-color: black;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    color: #fff;
}
.bottom button{
    height: 40px;
    background-color: orangered;
    border: none;
}
.mid{
    color: #fff;
    background-color: rgb(30, 26, 26);
    display: flex;
    flex-direction: row;
    align-items: center;

}
.mid img{
    height: 200px;
    width: 200px;
    padding-left: 20%;
}
.section{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
    margin-left: 20px;
    margin-right: 40px;
    
}
.sub button{
    background-color: orangered;
}
.info{
    display: flex;
    flex-direction: row;
    color:whitesmoke;
    align-items: center;
    justify-content: center;
    gap: 100px;
    

}
.last{
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.last img{
    height: 200px;
    width: 200px;

}
.modal{
    width: 100vw;
    display: none;
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    top: 0px;
    justify-content: center;
    align-items: center;
}

.shown{
    display: flex;
}

.hidden{
    display: none;
}
.modal .holder{
    height: 300px;
    width: 400px;
    border-radius: 5px;
    background-color: #fff;
}

input{
    
    border-color: aqua;
}

input:focus{
    border-style: dotted;
    border-color: coral;

}

.fetch_data{
    width: 300px;
}